<div class="search-page">
  <mat-card class="post-card" *ngFor="let post of posts; let i = index">
    <mat-card-header style="text-align: left">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{post.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="post-image-card" align="center" *ngFor="let image of post.image; let i = index">
      <img [src]="image" width="40%" height="40%" alt="image">
    </mat-card-content>
    <mat-card-subtitle align="start">Posted by {{post.username}}</mat-card-subtitle>
    <mat-card-subtitle align="start">Category {{post.category}}</mat-card-subtitle>
    <mat-card-content>
      <p style="font-size: 2vh ;word-break: break-all; white-space: pre-line;">{{post.caption}}</p>
    </mat-card-content>

    <mat-card-actions align="start">

      <button *ngIf="isUserDataLoaded" mat-button (click)="likePost(post.id, i)"
              [ngClass]="post.usersLiked.indexOf(user.username) !== -1 ? 'is-liked' : 'not-liked'">
        <mat-icon>favorite</mat-icon>
        Like
      </button>
    </mat-card-actions>

    <div style="text-align: left">
      <p *ngFor="let comment of post.comments"><span
        style="font-weight: 500">{{comment.username}}</span>: {{comment.message}}</p>
    </div>

    <mat-form-field *ngIf="isUserDataLoaded" class="w-100">
      <mat-label>Leave a comment...</mat-label>
      <input (keyup.enter)="postComment($event.target.value, post.id, i)" matInput #message maxlength="128">
      <mat-hint align="end">{{message.value.length}} / 128</mat-hint>
    </mat-form-field>

  </mat-card>
</div>
