<div *ngIf="isUserPostsLoaded" xmlns="http://www.w3.org/1999/html">
  <div style="text-align: right">
    <button mat-flat-button color="primary" routerLink="/add">Add Post</button>
  </div>

  <h2>{{posts.length}} Posts</h2>

  <mat-card class="post-card" *ngFor="let post of posts; let i = index">
    <mat-card-header style="text-align: left">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{post.title}}</mat-card-title>
      <button matTooltip="Update" mat-icon-button class="example-icon favorite-icon" routerLink="/update/{{post.id}}}">
        <mat-icon>
          update
        </mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="post-image-card" align="center" *ngFor="let image of post.image; let i = index">
      <img [src]="image" width="50%" height="50%" alt="image">
    </mat-card-content>
    <mat-card-subtitle align="start">Category: {{post.category}}</mat-card-subtitle>
    <mat-card-content>
      <p style="font-size: 2vh ;word-break: break-all; white-space: pre-line;">{{post.caption}}</p>
    </mat-card-content>

    <div style="text-align: left">
      <p *ngFor="let comment of post.comments; let c = index"><span style="font-weight: 500">{{comment.username}}</span>: {{comment.message}}
        <button *ngIf="user.id === comment.userId || isAdmin || userId === post.userId" color="accent" mat-button
                (click)="deleteComment(comment.id, i, c)">
          <mat-icon color="accent">clear</mat-icon>
        </button>
      </p>
    </div>

    <mat-card-actions align="end">
      <button *ngIf="userId === post.userId || isAdmin" color="warn" mat-button (click)="removePost(post, i)">
        <mat-icon color="warn">delete</mat-icon>
        Remove Post
      </button>
    </mat-card-actions>

    <mat-card-subtitle align="start">Likes: {{post.likes}}</mat-card-subtitle>
  </mat-card>
</div>
