<div>
  <div style="text-align: right">
    <button mat-flat-button color="primary" routerLink="/posts">My Posts</button>
  </div>

  <h2>Create Post</h2>
  <form [formGroup]="postForm">

    <img class="post-image" [src]="previewImgURL" alt="user image">

    <input type="file"
           style="display: none"
           #fileInput
           multiple
           (change)="onFileSelected($event)">

    <button mat-button (click)="fileInput.click()">Pick File</button>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput
             formControlName="title">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Caption</mat-label>
      <textarea matInput formControlName="caption" class="variable-textarea"></textarea>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option value="CATEGORY_BOOKS">Books</mat-option>
        <mat-option value="CATEGORY_GAMES">Games</mat-option>
        <mat-option value="CATEGORY_FILMS">Films</mat-option>
      </mat-select>
    </mat-form-field>

    <div style="text-align: right">
      <button mat-flat-button color="primary" [disabled]="postForm.invalid" (click)="submit()">
        Create Post
      </button>
    </div>

  </form>
</div>
